*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  text-align: center;
  color: var(--text-clr);
  background-color: var(--bg-clr);
}

body::-webkit-scrollbar {
  width: .75em;
}

body::-webkit-scrollbar-track {
  background-color: var(--accent-clr);
  box-shadow: inset 0 0 3px var(--border-clr);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--contrast-clr);
  border-radius: 200px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

.centered {
  margin: 0 auto;
}

em {
  font-style: normal;
  font-weight: 600;
}

@media only screen and (max-width: 920px){
  .content {
    flex-wrap: wrap;
  }

  .summoner-details {
    width: 100% !important;
  }

  .match-list {
    margin-left: 0 !important;
  }

  .champion-icon {
    max-width: 7rem !important;
  }

  .summoner-spell-img,
  .perk-img-container {
      max-width: 3.45rem !important;
  }
}

@media only screen and (max-width: 420px) {
  .match-card {
    font-size: 1.3rem;
  }

  .match-card > section {
    width: 100% !important;
  }

  .loadouts,
  .game-stats {
    order: -1;
  }
}
